<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container">
        <h1>Welcome To Naresh IT Exams</h1> 
        <hr>
        <h2>Exam Rules :</h2>
        <ul>
            <li><strong>Rule 1:</strong> You can attempt only one exam per day.</li>
            <li><strong>Rule 2:</strong> Once the exam is started, it cannot be paused or restarted.</li>
            <li><strong>Rule 3:</strong> You must submit the exam before the time limit ends.</li>
        </ul>
    </div>
</div>
{% endblock %}